datasets[audio] 
transformers 
accelerate 
evaluate 
jiwer 
tensorboard 
gradio
librosa 
soundfile
requests 
beautifulsoup4
schedule
# yt-dlp==2024.12.13
# pydub==0.25.1
# pytube==15.0.0
# requests==2.32.3
# huggingface_hub==0.27.0
# datasets==3.2.0
# num2words==0.5.14
# pandas==2.2.3
